.filter-range__left-value,
.filter-range__right-value {
  position: absolute;
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
  margin-top: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
}

.filter-range__left-value {
  left: 0;
}

.filter-range__right-value {
  right: 0;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.thumb {
  pointer-events: none;
  position: absolute;
  appearance: none;
  height: 0;
  width: 100%;
  outline: none;
  top: -3px;
}

/* .thumb::after {
  position: absolute;
  margin-top: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
} */

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #333333;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
  top: 2px;
  pointer-events: all;
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type='range']::-webkit-slider-thumb:hover {
  background-color: #adadad;
}

input[type='range']:active::-webkit-slider-thumb {
  border: 1px solid #333333;
  -webkit-box-shadow: 0 0 2px 2px #c5ec2a;
  box-shadow: 0 0 2px 2px #c5ec2a;
}

input[type='range']:focus::-webkit-slider-thumb {
  border: 1px solid #333333;
  -webkit-box-shadow: 0 0 2px 2px #c5ec2a;
  box-shadow: 0 0 2px 2px #c5ec2a;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #333333;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
  top: 2px;
  pointer-events: all;
  position: relative;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

input[type='range']::-moz-range-thumb:hover {
  background-color: #adadad;
}

input[type='range']:active::-moz-range-thumb {
  border: 1px solid #333333;
  -webkit-box-shadow: 0 0 2px 2px #c5ec2a;
  box-shadow: 0 0 2px 2px #c5ec2a;
}

input[type='range']:focus::-moz-range-thumb {
  border: 1px solid #333333;
  -webkit-box-shadow: 0 0 2px 2px #c5ec2a;
  box-shadow: 0 0 2px 2px #c5ec2a;
}
